#set($includedFields  = $utils.newMap())
#set($readOnlyFields  = $utils.newMap())
#set($requiredFields  = $utils.newMap())
#set($noInsertFields  = $utils.newMap())
#set($noUpdateFields  = $utils.newMap())
#set($doSubmitFields  = $utils.newMap())
#set($mainPageFields  = $utils.newMap())
#set($includedColumns = $utils.newMap())
#setPropiedadesPagina($pagina)
#setMapasPagina()
#setVirtualFormColumnFieldList()
#set($virtualForm1 = "virtualForm1 | listaFuncionEdicion1 listaFuncionAccion1 | ")
#set($virtualForm2 = "virtualForm2 | listaOpcionZum1 | botonAplicarZum1 botonQuitarZum1 ")
#set($virtualForm3 = "virtualForm3 | listaFuncionEdicion1 listaFuncionAccion1 | listaFuncionEdicion1 listaFuncionAccion1 botonEditar1 botonDeshacer1 botonEliminar1 ")
#set($virtualForm4 = "virtualForm4 | | botonAgregar1 botonDescartar1 botonRefrescar1 botonReconsultar1 botonRetornar1 ")
#writeJspCode101($domainclassid)##license
#writeJspCode102(0)##root->cab3
                                <div class="pdq-div-filtro-1">
#set($gridnum = $gridnum + 1)
                                    <h:panelGrid 
##                                      binding="#{${pagecode}.gridPanel$gridnum}" 
                                        columns="4" 
                                        id="gridPanel$gridnum"
                                        rendered="#{${pagecode}.gestor.funcionZoomHabilitada}">
                                        <webuijsf:label 
                                            binding="#{${pagecode}.etiquetaListaOpcionZum1}" 
                                            id="etiquetaListaOpcionZum1" 
                                            text="#{${pagecode}.gestor.i18n.textoEtiquetaListaOpcionZum}"/>
                                        <webuijsf:dropDown 
                                            binding="#{${pagecode}.listaOpcionZum1}" 
                                            converter="#{${pagecode}.converterListaOpcionZum1}"
                                            id="listaOpcionZum1" 
                                            items="#{${pagecode}.gestor.opcionesZumNodo}" 
                                            required="true" 
                                            selected="#{${pagecode}.opcionZumSeleccionada}"/>
                                        <webuijsf:button 
                                            actionExpression="#{${pagecode}.botonAplicarZum1_action}" 
                                            binding="#{${pagecode}.botonAplicarZum1}"
                                            id="botonAplicarZum1" 
                                            styleClass="pdq-button-1" 
                                            text="#{${pagecode}.gestor.i18n.textoBotonAplicarZum}"
                                            toolTip="#{${pagecode}.gestor.i18n.toolTipBotonAplicarZum}"/>
                                        <webuijsf:button 
                                            actionExpression="#{${pagecode}.botonQuitarZum1_action}" 
                                            binding="#{${pagecode}.botonQuitarZum1}"
                                            id="botonQuitarZum1" 
                                            styleClass="pdq-button-1" 
                                            text="#{${pagecode}.gestor.i18n.textoBotonQuitarZum}"
                                            toolTip="#{${pagecode}.gestor.i18n.toolTipBotonQuitarZum}"/>
                                    </h:panelGrid>
                                </div>
#writeJspCode103(0)##detalle
                                        <webuijsf:tree 
                                            binding="#{${pagecode}.tree1}" 
                                            id="tree1" 
                                            style="#{${pagecode}.gestor.estiloArbol}" 
                                            styleClass="pdq-tree-1"/>
#set($gridnum = $gridnum + 1)
                                        <h:panelGrid 
##                                          binding="#{${pagecode}.gridPanel$gridnum}" 
                                            id="gridPanel$gridnum">
#set($gridnum = $gridnum + 1)
                                            <h:panelGrid 
##                                              binding="#{${pagecode}.gridPanel$gridnum}" 
                                                id="gridPanel$gridnum">
                                                <webuijsf:anchor 
##                                                  binding="#{${pagecode}.anchor1}" 
                                                    id="anchor1"/>
                                            </h:panelGrid>
#writeJspCode105(1)##grid-botones-accion
#writeJspCode106(5)##grid-hiper-vinculos
                                        </h:panelGrid>
#writeJspCode107(0)##pie3->root
