/**/
#foreach($jasperQuery in $queries)
#set($viewname = "$prefix$jasperQuery.name$suffix")
exec xsp.dropone('view','$viewname');
#end##foreach-view
/**/
#foreach($jasperQuery in $queries)
#set($viewname = "$prefix$jasperQuery.name$suffix")
#if($jasperQuery.queryString != '')
CREATE VIEW $viewname AS
$jasperQuery.queryString;

#end
#end##foreach-view
